.App {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-image {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  margin-bottom: 2vw;
  object-fit: cover;
}

.start-button {
  padding: 1.2vw 1.5vw 1vw;
  font-size: 1.2vw;
  color: black;
  background-color: #BB86FC;
  border: none;
  border-radius: 2.5vw;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'BentonSansMedium';
}

.start-button:hover {
  background-color: #9f6edc;
}

.exp-list li {
  display: flex;
  margin-bottom: 4vw;
}

.exp-list li .first {
  margin-right: 4vw;
  font-size: 2vw;
  text-transform: uppercase;
  font-family: 'BentonSansMedium';
  line-height: 3vw;
}

.exp-list li .second {
  font-size: 2vw;
  text-transform: uppercase;
  color: #7A7A7A;
  font-family: 'BarlowBold';
  line-height: 2vw;
}

.exp-list li .sub-title {
  display: block;
  font-size: 1vw;
  font-family: 'BarlowRegular';
  line-height: 1.6vw;
}